html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-size: 16px;
}

body,
input,
button,
select {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
  line-height: 1.5;
}

@media(min-width: 768px) {
  p {
    line-height: 1.6;
  }
}

.modal-vertical-centered {
  transform: translate(0, 50%) !important;
  -ms-transform: translate(0, 50%) !important; /* IE 9 */
  -webkit-transform: translate(0, 50%) !important; /* Safari and Chrome */
}

.navbar {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255,255,255,.3);
  background-color: #222;
}

.input-custom {
  background-color: #eee;
}

.navbar-brand {
  font-weight: 700;
  color: #fff;
  font-size: 1.5em;
  /*
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  */
}

.navbar-toggle {
  font-size: 1.1em;
  padding: 3px 10px;
}

.navbar-toggle:focus,
.navbar-toggle:active {
  outline: 0;
}

a.navbar-brand:hover,
a.navbar-brand:focus {
  color: #fff;
}
  
.navbar-custom .nav li {
  padding: 0 10px;
}

.navbar-custom .nav li a {
  color: lightgray;
  font-size: 1em;
  font-weight: 700;
  /*
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  */
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
  background-color: transparent;
  outline: 0;
  color: #fff;
}

.navbar-custom .nav li.active a {
  color: #fff;
}

.navbar-custom .nav li.highlight a {
  color: #ff6240;
}

.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: #fff;
  background: url(../img/use_your_illusion.png) repeat scroll;
  background-color: #212121;
}

.intro-body {
  display: table-cell;
  vertical-align: bottom;
}

.brand-heading {
  font-size: 1.5em;
  font-weight: 500;
}

.intro-text {
  font-size: 0.95em;
  font-weight: 500;
  color: lightgray;
}

.btn-intro {
  background-color: #ff6240;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1em;
  padding: 10px 0;
  margin-top: 15px;
}

.intro-body > .container {
  position: relative;
}

@media(min-width: 768px) {
  .navbar {
    padding: 30px 0;
    border-bottom: 0;
    background: 0 0;
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
  }
  
  .top-nav-collapse {
    padding: 0;
    background-color: #222222;
  }

  .navbar-custom.top-nav-collapse {
    border-bottom: 1px solid rgba(255,255,255,.3);
  }
  
  .top-nav-collapse .navbar-brand {
    font-size: 1.5em;
  }
  
  .navbar-custom .nav li a {
    font-size: 1em;
  }
  
  .top-nav-collapse .nav li a {
    font-size: 1em;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  
  .navbar-brand {
    font-size: 2em;
  }
  
  .intro {
    height: 100%;
    max-height: 650px;
    padding: 0;
  }
  
  .intro-body > .container {
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 150px 0 120px 0;
    background-color: #222222;
  }
  
  .btn-intro {
    font-size: 1.3em;
    padding: 15px 0;
    margin-top: 25px;
  }
  
  .brand-heading {
    font-size: 3em;
  }
  
  .intro-text {
    font-size: 1.2em;
  }
}

@media(min-width: 992px) {
  .intro {
    height: 100%;
    max-height: 750px;
    padding: 0;
  }
  
  .intro-body > .container {
    padding: 200px 0 150px 0;
  }
  
  .navbar-custom .nav li a {
    font-size: 1.25em;
  }
  
  .navbar-brand {
    font-size: 2.5em;
  }
}

.empty-box {
  height: 100px;
  background: #eeeeee;
}

/* #what */

#what {
  padding-bottom: 30px;
}

#what .section-heading {
  font-size: 2.8em;
  font-weight: 300;
  margin: 50px 0 30px 0;
}

#feature-list {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 2px solid #eeeeee;
}

#feature-list .row {
  margin-bottom: 25px;
}

#feature-list h4 {
  font-size: 1em;
  font-weight: 600; 
  line-height: 1;
  margin-top: 15px;
}

#feature-list p {
  font-size: 0.95em;
  line-height: 1.3;
}

/* #why */

#mobile-layer {
  position: absolute;
  bottom: 0;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: left;
  width: 265px;
  height: 300px;
  left: -100px;
  background-color: #222;
}

#mobile-layer .layer-body {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 30px;
  padding-bottom: 15px;
}

#mobile-layer .layer-body > h2 {
  font-size: 1.6em;
  margin-bottom: 15px;
  line-height: 1.3;
}

#mobile-layer .layer-body > p {
  font-size: 0.9em;
  color: lightgray;
}

/* Start Now Modal */

#modal-start-now {
  padding-top: 150px;
}

#modal-start-now .modal-body {
  padding-top: 0;
  padding-bottom: 0;
}

#modal-start-now .modal-body .panel-left {
  padding: 30px;
}

#modal-start-now .modal-body .panel-left > h1 {
  margin: 0;
}

#modal-start-now .modal-body .panel-left > .list-inline {
  margin: 30px 0 30px 0;
}

#modal-start-now .modal-body .panel-left > .list-inline a {
  color: gray;
}

#modal-start-now .modal-body .panel-left > .list-inline li.active a {
  color: #ff6240;
}

#modal-start-now .modal-body .panel-left > .list-inline label {
  font-weight: 500;
  font-size: 1.1em;
  cursor: pointer;
}

#modal-start-now .modal-body .panel-left > .list-inline input[type=radio] {
  margin-right: 5px;
}